//colors
$black: #000000;
$white: #ffffff;
$black-clear: #1b1d27;
$white-title: #ffffff;
$green: #8ea96f;

$silver: #909090;
$gold: #c09b4d;
$royal: #17267f;

//fonts
$font-family: 'Lato', sans-serif;